@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.bg-white{
    background-color: #fff;
}

.test-white{
    color: #fff;
}

.shinny-red-border{
    border: 2px solid #664cfd9a;
}

.shinny-red-border:hover{
    border: 2px solid #664cfd9a;
    box-shadow:
        0 0 6px rgba(88, 59, 255, 0.6),
        0 0 12px rgba(255, 59, 59, 0.4),
        0 0 20px rgba(255, 59, 59, 0.25);
}